body{
    text-align: center;
    background-color: lightblue;
}

.jumbotron{
    margin: 1% 5%;
    background-image: url("../images/background1.png");
    border: solid 2px darkblue;
    position: relative;
}

#pause{
    font-size: xx-large;
    color: black;
    text-align: right;
    position: absolute;
    top: 1%;
    right: 1%;
}

.titlebar{
    padding: 1%;
    background-color: red;
    border: solid 1px black;
}

.title-image{
    max-width: 100%;
    max-height: 45px;
}

.question-image{
    background-color: red;
    border: solid 1px black;
    padding: 0;
}

.big-image{
    margin: 1%;
    max-width: 98%;
    max-height: 240px;
}

.question-area{
    background-color: orange;
    border: solid 1px black;
}

.question-area h3{
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-size: large;
}

.answer-area{
    background-color: gold;
    border: solid 1px black;
}

.brick-button{
    background: url('../images/button.png') no-repeat top left;
    width: 230px;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 2.5%;
    border: none;
    margin: 1% 2%;
    font-size: 1.25em;
}

.brick-button:hover{
    opacity: .7;
}

#wrong-answer{
    opacity: .5;
}

.btn-lg{
    width: 45%;
    margin: 1% 2%;
    font-size: medium;
    font-family: "Arial Black", sans-serif;
}

#correct-answer{
    opacity: 1.0;
}

.timer{
    background-color: red;
    border: solid 1px black;
}

.progress{
    margin: 1%;
}

@media screen and (max-width: 640px){
    #pause{
        position: static;
        text-align: center;
        margin: 1%;
    }
}